# Ignora il file del dataset
AnonymizedFidelity.csv

# Ignora la cartella dei risultati (che viene generata ad ogni esecuzione)
first_classwork/results/

# IGNORA LA CARTELLA DI INSTALLAZIONE JAVA
first_classwork/src/oracleJdk-25/